/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #eee;
  margin: 0;
  font-size: 12px;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  /* Make the header overlap the carousel class */
  position: relative;
  z-index: 100;
}
header a{
  color: #eee;
  margin-right: 40px;
}

.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px; /*To move the header up the page*/
  position: relative;
}

.carousel .cards .home__card {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;
}
.carousel .cards .home__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .cards .home__card .content {
  position: absolute;
  top: 5%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #FFF;
  text-shadow: 0 5px 10px #0004;
}

.carousel .cards .home__card .home__card__title,
.carousel .cards .home__card .home__card__topic {
  font-weight: bold;
  font-size: 5em;
  line-height: 1.3em;
}
.carousel .cards .home__card .home__card__topic {
  color: #f1683a;
}
.carousel .cards .home__card .home__card__title {
  color: #262626;
}
.carousel .cards .home__card .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .cards .home__card .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.carousel .cards .home__card .buttons button:nth-child(2) {
  background-color: #fb9877d2;
  color: #333;
  border: 1px solid #eee;

}

/* thumbnail */
.thumbnail {
  position: absolute;
  bottom: 30px;
  left: 40%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .home__card {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .home__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .home__card .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .home__card .content .home__card__title {
  font-weight: 500;
}
.thumbnail .home__card .content .home__card__des {
  font-weight: 300;
}

/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  font-family: monospace;
  color: #FFF;
  font-weight: bold;
  font-size: large;
  transition: .5s;
  z-index: 100;
}
.arrows button:hover{
  background-color: #eee;
  color: #555;
}

/* animation */
.carousel .cards .home__card:nth-child(1) {
  z-index: 1;
}
.carousel .cards .home__card:nth-child(1) .home__card__title,
.carousel .cards .home__card:nth-child(1) .home__card__topic,
.carousel .cards .home__card:nth-child(1) .home__card__des,
.carousel .cards .home__card:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .cards .home__card:nth-child(1) .content .home__card__title {
  animation-delay: 1.2s;
}
.carousel .cards .home__card:nth-child(1) .content .home__card__topic {
  animation-delay: 1.4s;
}
.carousel .cards .home__card:nth-child(1) .content .home__card__des {
  animation-delay: 1.6s;
}
.carousel .cards .home__card:nth-child(1) .content .buttons {
  animation-delay: 1.8s;
}
/* effect next click */
.carousel.next .cards .home__card:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}
.carousel.next .thumbnail .home__card:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail {
  to {
    width: 150px;
  }
}
.carousel.next .thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail .5s linear 1 forwards;
}
@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/* effect prev click */
.carousel.prev .cards .home__card:nth-child(2) {
  z-index: 2;
}
.carousel.prev .cards .home__card:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage .5s linear 1 forwards;
}
@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 40%;
    bottom: 30px;
  }
}
.carousel.prev .thumbnail .home__card:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .cards .home__card:nth-child(2) .home__card__title,
.carousel.prev .cards .home__card:nth-child(2) .home__card__topic,
.carousel.prev .cards .home__card:nth-child(2) .home__card__des,
.carousel.prev .cards .home__card:nth-child(2) .buttons {
  animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

/* time */
.time {
  width: 0%;
  height: 5px;
  background-color: #f1683a;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
.carousel.next .time,
.carousel.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning {
  to {
    width: 0;
  }
}

@media screen and (max-width: 678px) {
  .carousel .cards .home__card .content {
    padding-right: 0;
  }
  .carousel .cards .home__card .content .home__card__title {
    font-size: 5em;
  }
  .thumbnail {
    left: 50%;
  }
}